<div class="metro-section--blue row-info">
  <div class="grid-row grid-gap">
    <div class="grid-col">
      <div class="padding-x-6 padding-bottom-6">
        <h2>Proposed Fare Changes</h2>
        <p>Stuff</p>
        <a href="#">Learn more</a>
      </div>
    </div>
    <div class="grid-col">
      <div class="padding-x-6 padding-bottom-6">
        <h2>What is Fare Capping?</h2>
        <p>Stuff</p>
        <a href="#">Learn more</a>
      </div>
    </div>
    <div class="grid-col">
      <div class="padding-x-6 padding-bottom-6">
        <h2>Tell us what you think</h2>
        <p>Stuff</p>
        <a href="#">Learn more</a>
      </div>
    </div>
  </div>
</div>